# Gradle
.gradle/
build/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.swp

# Local IDE and binaries
.vscode/
bin/

# Security & Environments
.env
.env.*

# Java/Spring
out/
.metadata/

